type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/573b936d0cf20211062fb15f'
  id: 573b936d0cf20211062fb15f
  name: aseriyusibmcom-redbooks
  status: active
  orgType: apiProvider
  displayName: aseriy@us.ibm.com (redbooks)
  externalOrgId: 904a1f6b-ac29-46dd-af5a-36c9e89d44bf
  externalInviteOverride: 'https://new-console.ng.bluemix.net/apis/catalog/invitation'
  externalSpaceId: 904a1f6b-ac29-46dd-af5a-36c9e89d44bf
  externalNativeOrgId: 2d18cb02-7aeb-4b54-b7f3-de9713b0ef21
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
catalog:
  id: 573b95bb0cf20211062fb2ea
  shortName: inventory-catalog
  name: inventory-catalog
  sandbox: true
app:
  new: true
  name: inventory-loopback-app
id: 3f27f3bf-af24-4648-906d-3810ac021b43
target: 1.0.0
