type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/5759b9f60cf25291cee4299a'
  id: 5759b9f60cf25291cee4299a
  name: gangchenusibmcom-apic
  status: active
  orgType: apiProvider
  displayName: gangchen@us.ibm.com (apic)
  externalOrgId: ab2dc51a-4618-444a-9b50-57e655241e48
  externalInviteOverride: 'https://new-console.ng.bluemix.net/apis/catalog/invitation'
  externalSpaceId: ab2dc51a-4618-444a-9b50-57e655241e48
  externalNativeOrgId: ccf8ef2a-7d86-42c3-a2eb-0d822adcc710
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
catalog:
  id: 5759ba690cf24e30e9805d93
  shortName: apicstore-catalog
  name: ApicStore Catalog
  sandbox: true
app:
  metadata:
    guid: 2109e85c-2f0b-4323-a37e-dc6f9ea46fdb
  entity:
    guid: 2109e85c-2f0b-4323-a37e-dc6f9ea46fdb
    name: inventory-loopback-app
    routes:
      - guid: 8637519a-7031-42dc-9b2b-99d2fb5d1374
        host: apiconnect-2109e85c-2f0b-4323-a37e-dc6f9ea46fdb
        domain:
          guid: 17ee6dfa-5fe7-4486-a4be-2a3846d7c880
          name: gangchenusibmcom-apic.apic.mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: 2c6f58bd-d2f3-46d6-8ea4-8cabf62ac45f
        name: gangchenusibmcom-dev.apic.mybluemix.net
        owning_organization_guid: ccf8ef2a-7d86-42c3-a2eb-0d822adcc710
      - guid: 17ee6dfa-5fe7-4486-a4be-2a3846d7c880
        name: gangchenusibmcom-apic.apic.mybluemix.net
        owning_organization_guid: ccf8ef2a-7d86-42c3-a2eb-0d822adcc710
      - guid: f4b90d7e-2cd3-4d30-b200-f28bbaf6be20
        name: mybluemix.net
        router_group_guid: null
    production: false
    space_guid: ab2dc51a-4618-444a-9b50-57e655241e48
    stack_guid: ac91d31a-86a3-453b-babf-8d49c9d763fc
    buildpack: null
    detected_buildpack: null
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: c9be4f0c-281e-44db-924e-ed8d14400513
    command: null
    console: false
    debug: null
    staging_task_id: null
    package_state: PENDING
    health_check_type: port
    health_check_timeout: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: false
    docker_image: null
    package_updated_at: null
    detected_start_command: ''
    enable_ssh: true
    docker_credentials_json:
      redacted_message: '[PRIVATE DATA HIDDEN]'
    ports: null
id: 49474329-5965-432c-9169-9c7c87ef092c
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
workspaceDir:
  name: inventory
  path: >-
    /Users/gchen/Documents/BlueMix2015/SolutionEngineering/Workstream/APIC/Redbook/apic-workstream/lab-files/chapt2/companyB/inventory
  id: 1
  displayName: inventory
  type: project
  projectType: loopback
